<div class="content">
	<div id="header">
		<div id="notices"></div>
	</div>
	<br />
	
	<div id="left-column">{{outlet sidebar}}</div>
		
	<div id="right-column" style="min-height: 500px;">
		{{outlet}}
	</div>
	
	<div>
		<div class="footer" id="footer">
			<center>&copy; 2013 Developing Perspective, LLC. &#8226; <a href="/privacy.html">Privacy Policy and Terms</a> &#8226;  <a href="mailto:support@feedwrangler.net" title="Click to Email Us">Contact Us</a>
			</center>
			<br><br>
			<center>
				&#8226; Keyboard Shortcuts &#8226; <br> 
				<b>J</b>:Next&nbsp;&nbsp;
				<b>K</b>:Previous&nbsp;&nbsp;
				<b>L</b>:Star&nbsp;&nbsp;
				<b>M</b>:(Un)Read&nbsp;&nbsp;
				<b>I</b>:Read Later&nbsp;&nbsp;
				<b>O</b>:Open Link 
			</center>
			<br><br>
		</div>
	</div>
</div>