<div class="edit-button">
	{{#if hasUnreadItems}}
    <a href="#" {{action "markAllRead" model}}>Mark All {{unreadCount}} Read</a> :
  {{/if}}
	<a href="#" {{action "unsubscribe" model.firstObject.feed}}>Unsubscribe</a>
</div>

{{partial "feed_items"}}